<a href="https://colab.research.google.com/github/LSY-0412/WebPractice/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Startup Data
In this lab, we would like to do multiple linear regression analysis with start-up dataset.

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/LSY-0412/WebPractice/main/Student%20Performance%20new.csv')
df.head()

   Unnamed: 0 race/ethnicity  ... writing score percentage sex
0           0        group B  ...                     0.74   F
1           1        group C  ...                     0.88   F
2           2        group B  ...                     0.93   F
3           3        group A  ...                     0.44   M
4           4        group C  ...                     0.75   M

[5 rows x 9 columns]